
<h2>Directors preferits</h2>

<button class="accordion">Quentin Tarantino</button>
<div class="accordion__panel">
  <img src="./assets/images/directors/quentin__tarantino.jpg" alt="Quentin Tarantino">
  <p><strong>Quentin Tarantino</strong> va néixer el 27 de març de 1963 en Knoxville, Tennessee, els Estats Units. És un director, escriptor i actor, conegut per <i>Reservoir Dogs (1992), Pulp Fiction (1994) i Érase una vegada en... Hollywood (2019)</i>. Està casat amb Daniella Pick des del 28 de novembre de 2018. Tenen dos nens.</p>
</div>

<button class="accordion">David Fincher</button>
<div class="accordion__panel">
  <img src="./assets/images/directors/david__fincher.jpg" alt="David Fincher">
  <p><strong>David Fincher</strong> va néixer el 28 d'agost de 1962 a Denver, Colorado, els Estats Units. És un productor i director, conegut per <i>Seven (1995), Perduda (2014) i Zodiac (2007)</i> així com la serie de <i>Mindhunter</i> el qual es caracteritza per pel·lícules de suspens. Ha estat casat amb Donya Fiorentino.</p>
</div>

<button class="accordion">Guy Ritchie</button>
<div class="accordion__panel">
  <img src="./assets/images/directors/guy__ritchie.jpg" alt="Guy Ritchie">
  <p><strong>Guy Ritchie</strong> va néixer el 10 de setembre de 1968 en Hertfordshire, Anglaterra. És un escriptor i director, conegut per <i>Sherlock Holmes (2009), Lock & Stock (1998) i Snatch. Cerdos y diamantes (2000)</i>. Està casat amb Jacqui Ainsley des del 30 de juliol de 2015. Tenen tres nens. Ha estat casat amb Madonna.</p>
</div>