  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer__content">
        <h3>PAC#1 - Eines HTML i CSS II</h3>
        <p>Pàgina web creada per <a href="https://github.com/AitorSantaeugenia" target="_blank" class="footer__content--a--element">Aitor J. Santaeugenia Marí</a> per a la PAC#1 de l'asignatura <em>Eines HTML i CSS II</em> del màster de Desenvolupament d'aplicacions i llocs web de la <a href="https://www.uoc.edu/portal/ca/index.html" target="_blank" class="footer__content--a--element"><em>Universitat Oberta de Catalunya.</em></a></p>
        <ul class="footer__socials">
            <li><a href="https://twitter.com/SantaeugeniaJ" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UClCOBqM-8Tpm9VFIoKk5cKQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/aitorjsantaeugenia/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/AitorSantaeugenia" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
    <div class="footer__content bottom--element">
        <p>CC BY-NC-SA | <a href="https://github.com/AitorSantaeugenia" target="_blank" class="footer__content--a--element">Aitor J. Santaeugenia Marí</a></p>
    </div>
</footer>