<div class="swiffy-slider slider-item-show3 slider-item-show2-sm slider-item-ratio-3x4 slider-indicators-round swiffy__slider--align-center">
    <ul class="slider-container">
        <li><img src="./assets/images/movies/7samurai.jpg" alt="7 Samurais"></li>
        <li><img src="./assets/images/movies/2001space.webp" alt="2001: Odisea en el espacio"></li>
        <li><img src="./assets/images/movies/akira.jpg" alt="Akira"></li>
        <li><img src="./assets/images/movies/apocalypsenow.jpg" alt="Apocalypse Now"></li>
        <li><img src="./assets/images/movies/butterflyeffect.jpg" alt="The butterfly effect"></li>
        <li><img src="./assets/images/movies/ciudadanoKane.webp" alt="Citizen Kane"></li>
        <li><img src="./assets/images/movies/everything.jpg" alt="Everything, everywhere, all at once"></li>
        <li><img src="./assets/images/movies/fightclub.jpg" alt="Fight club"></li>
        <li><img src="./assets/images/movies/goodfather.jpg" alt="The Goodfather"></li>
        <li><img src="./assets/images/movies/loveExposure.jpg" alt="Love exposure"></li>
        <li><img src="./assets/images/movies/mullholanddr.jpg" alt="Mullholand dr."></li>
        <li><img src="./assets/images/movies/parasite.avif" alt="Parasite"></li>
        <li><img src="./assets/images/movies/rockandrolla.jpg" alt="Rock'n'rolla"></li>
        <li><img src="./assets/images/movies/snatch.jpg" alt="Snatch: Cerdos y diamantes"></li>
        <li><img src="./assets/images/movies/spiritedAway.jpg" alt="Spirited away"></li>
        <li><img src="./assets/images/movies/taxidriver.jpg" alt="Taxi driver"></li>
        <li><img src="./assets/images/movies/thedarkknight.jpg" alt="The dark knight"></li>
        <li><img src="./assets/images/movies/thegoodthebadtheugly.jpg" alt="The good, the bad and the ugly"></li>
        <li><img src="./assets/images/movies/thejoker.jpg" alt="The joker"></li>
        <li><img src="./assets/images/movies/tokyostory.jpg" alt="Tokyo Story"></li>
        <li><img src="./assets/images/movies/yiyi.jpg" alt="Yi yi"></li>
    </ul>

    <button type="button" class="slider-nav background-blueish"></button>
    <button type="button" class="slider-nav slider-nav-next background-blueish"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>